USE [DbCvEntity]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLADRES]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADRES](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TELEFON] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[ADRES] [varchar](50) NULL,
	[KONUM] [varchar](200) NULL,
 CONSTRAINT [PK_TBLADRES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCALISMALARIM]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCALISMALARIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADRES] [varchar](100) NULL,
 CONSTRAINT [PK_TBLCALISMALARIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMDA]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BILGILER] [varchar](500) NULL,
	[EGITIM] [varchar](500) NULL,
	[ISDENEYIMLERI] [varchar](1000) NULL,
 CONSTRAINT [PK_TBLHAKKIMDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLILETISIM]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILETISIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[MESAJ] [varchar](500) NULL,
	[KONU] [varchar](50) NULL,
 CONSTRAINT [PK_TBLILETISIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYETENEKLER]    Script Date: 23.06.2023 00:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYETENEKLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YETENEK] [varchar](50) NULL,
	[DERECE] [tinyint] NULL,
 CONSTRAINT [PK_TBLYETENEKLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLADMIN] ON 

INSERT [dbo].[TBLADMIN] ([ID], [KULLANICIAD], [SIFRE]) VALUES (1, N'Sedat', N'702')
INSERT [dbo].[TBLADMIN] ([ID], [KULLANICIAD], [SIFRE]) VALUES (2, N'Saliha', N'3110')
SET IDENTITY_INSERT [dbo].[TBLADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] ON 

INSERT [dbo].[TBLHAKKIMDA] ([ID], [BILGILER], [EGITIM], [ISDENEYIMLERI]) VALUES (1, N'SALİHA NUR DÖNGEZ', N'İstanbul ARNAVUTKÖY''de bulunan ARNAVUTKÖY ANADOLU LİSE''sin de ortaöğretimi tamamladım. Üniversite eğitimimi ise TOKAT''ta bulunan TOKAT GAZİOSMANPAŞA ÜNİVERSİTE''sin de tamamladım.', N'Staj. Farklı türde projeler. Kurumsal firmalar da eğitimler.')
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLILETISIM] ON 

INSERT [dbo].[TBLILETISIM] ([ID], [ADSOYAD], [MAIL], [MESAJ], [KONU]) VALUES (1, N'Saliha Nur', N'dongezaduh@mail.com.tr', N'İş arıyorum.', N'İŞ TEKLİFİ')
INSERT [dbo].[TBLILETISIM] ([ID], [ADSOYAD], [MAIL], [MESAJ], [KONU]) VALUES (3, N'Sedat', N'sedat@hotmail.com', N'asdasdasd', N'İŞ TEKLİFİ')
SET IDENTITY_INSERT [dbo].[TBLILETISIM] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] ON 

INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (1, N'C# ile Backend', 80)
INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (2, N'SQL ile VTYS', 85)
INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (3, N'DevExprees ile Tasarım', 60)
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] OFF
GO
